* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background:#E5E5E5;

}
body {
  font-family: Inter, sans-serif;
  width: 550px;
  height: 700px;
  background: #FFFFFF;
}

.header{
  background: #F55A5A;
  width: 550px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}
.icon-header{
  width: 25px;
  height: 25px;
}
.title-header{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #FFFFFF;

}

.main{
  margin:40px
}

.card{
  width: 470px;
  height: 170px;
  display: flex; 
  column-gap: 20px;
  margin: 35px 0px;
  position:relative
}
.card-img{
  width: 125px;
  height: 170px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.location-icon{
  width: 7px;
  height: 10px;
}
.location{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin-left: 5px;
  color: #2B283A
}
.google-maps{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
  margin-left: 10px;
}
.container-card-info{
  margin: 10px 15px 10px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;;
}
.title-card{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;
}

.date-card{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2B283A;
}
.description-card{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}

.cornice{
  position:absolute;
  border: 0.5px solid #F5F5F5;
  width: 475px;
  top:-17.5px;
}